@import "materialize/components/color-variables";
$primary-color: color("green", "darken-2") !default;
$secondary-color: color("blue", "base") !default;
@import "materialize";



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: darkgrey;
  }

main {
    flex: 1 0 auto;
  }
  
.links{
  margin-left: 5px;
}

.about{
  margin-left: 6px;
}

.card {
  background-color: lightgrey;
}

.reveal {
    background-color: lightgrey;
}

.card-action{
	font-size: 2vw;
	font-weight: bold;
}