@import "materialize/components/color-variables";
$primary-color: color("green", "darken-2") !default;
$secondary-color: color("blue", "base") !default;
@import "materialize";



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: darkgrey;
  }

main {
    flex: 1 0 auto;
  }
  
.links{
  margin-left: 5px;
}

.page-head{
	padding-top: 4vh;	
}


.about{
  margin-left: 6px;
}

.card {
  background-color: lightgrey;
}

.reveal {
    background-color: lightgrey;
}

.card-action{
	font-size: 2vw;
	font-weight: bold;
}

.card-panel{
	margin-top: 4vh;	
	margin-bottom: -4vh;
}

.panel{
	margin-top: 8vh;
	margin-bottom: 8vh;
}

.center-align{
	margin-top: 0vh;
	padding-bottom: 1vh;
}

.black-text{
  font-size: 1vw;
  font-weight: bold;
}

.input-field > label {
    top: -5px;
}